@font-face {
    font-family: 'Alegreya Sans';
    src: url('./fonts/AlegreyaSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('./fonts/AlegreyaSans-Bold.ttf');
    font-weight: bold;
}
